ul.form-section {
  padding-left: 0px;
  padding-right: 0px;
}

.supernova .form-all {
  background-color: #141414 !important;
}

.form-all {
  box-shadow: none !important;
  border: none !important;
}

button {
  background-color: white !important;
  color: black !important;
  border: solid 1px black !important;
  border-radius: 2px !important;
}

button:hover {
  background-color: transparent;
  color: white;
}

.form-dropdown {
  background-color: #141414;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D'10'%20height%3D'6'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M1%201l4%204%204-4'%20stroke%3D'%235D5F69'%20stroke-width%3D'2'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'/%3E%3C/svg%3E");
}

/*Date of birth*/
#lite_mode_11 {
  background-image: none;
}

.form-header {
  color: white;
  font-size: 16px !important;
}

.form-section.page-section {
  background-color: transparent;
}

.jotform-form {
  background-color: #141414;
}

.form-all {
  background-color: transparent;
  text-transform: uppercase;
}

.form-sub-label {
  display: none;
}

input {
  background-color: #141414;
  border-radius: 2px !important;
  border: solid 1px #5d5f69 !important;
}

select {
  border: solid 1px #5d5f69 !important;
  color: white !important;
}

.form-textbox,
.form-textarea,
.form-dropdown {
  color: white !important;
}

.form-dropdown:hover,
.form-textarea:hover,
.form-textbox:hover {
  border: solid 1px gray !important;
  box-shadow: none !important;
}

.form-header-group {
  border-bottom: none;
}

.form-header-group .form-header {
  color: white;
}

.form-textarea {
  border: solid 1px #5d5f69 !important;
  border-radius: 2px;
}

.qq-upload-button.None {
  border-radius: 2px;
}

.form-line.form-line-column.form-col-3 {
  width: 100%;
}

.form-line.form-line-column.form-col-6 {
  width: 100%;
}

.form-label.form-label-auto {
  display: block;
  float: none;
  text-align: left;
  width: 100%;
}

.form-dropdown:focus,
.form-textarea:focus,
.form-textbox:focus {
  border: solid 1px white !important;
  box-shadow: none !important;
}

.form-line-active {
  background-color: transparent;
}

.form-line.form-line-column.form-col-8 {
  width: 100%;
}

.form-line.form-line-column.form-col-7 {
  width: 100%;
  padding-top: 0 !important;
}

#coupon-input {
  background-color: #141414 !important;
  border: solid 1px #5d5f69 !important;
  font-size: 14px !important;
}

#coupon-input:hover {
  border: solid 1px gray !important;
}

#coupon-input:focus {
  border: solid 1px white !important;
}

[data-css-selector='id_8'] div.form-textbox {
  border-radius: 2px !important;
}

/*File upload stylign*/
li[data-type='control_fileupload'] .qq-upload-button-hover {
  box-shadow: none !important;
}

li[data-type='control_fileupload'] .qq-upload-button-focus {
  box-shadow: none !important;
}

li[data-type='control_fileupload'] .qq-upload-button {
  font-size: 14px !important;
  background-color: #141414 !important;
  border: dashed 1px #5d5f69 !important;
  border-radius: 2px !important;
}

li[data-type='control_fileupload'] .qq-upload-button:hover {
  border: dashed 1px gray !important;
}

li[data-type='control_fileupload'] .qq-upload-button:focus {
  border: solid 1px white !important;
}

li[data-type='control_fileupload'] .qq-upload-button {
  color: #5d5f69 !important;
}

li[data-type='control_fileupload'] .jfUpload-heading {
  color: #5d5f69 !important;
}

[data-css-selector='id_8'] input.form-textbox::placeholder,
input::placeholder,
.form-textarea::placeholder {
  color: #5d5f69 !important;
}

#input_12 {
  color: #5d5f69 !important;
}

#input_12:valid {
  color: white !important;
}

li[data-type='control_fileupload'] .qq-upload-button:before {
  display: none !important;
}

/*File Upload List*/
.qq-upload-img-container,
.qq-upload-file,
.qq-upload-size,
.qq-upload-cancel,
a.qq-upload-cancel {
  background-color: #42444b !important;
  color: white !important;
}

.qq-upload-delete {
  background-color: #42444b !important;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D'12'%20height%3D'16'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20fill-rule%3D'evenodd'%20clip-rule%3D'evenodd'%20d%3D'M10.3%203.775v.196l-.001%2010.342c0%20.972-.677%201.684-1.604%201.685-2.048.003-4.097.003-6.145%200-.927%200-1.602-.713-1.603-1.686V3.775h9.352zm-7.004%202.44v7.337h1.325c.208%200%20.221%200%20.222-.198V6.452c0-.043.013-.092-.004-.125-.02-.044-.064-.106-.099-.107-.477-.007-.954-.004-1.444-.004zm4.654%200H6.628c-.21%200-.224%200-.225.195v7.13H7.95V6.215zM0%202.797V.938h.215c.942%200%201.883.004%202.825-.006a.428.428%200%2000.277-.131c.208-.217.395-.462.6-.682A.354.354%200%20014.15.006c.983-.008%201.967-.008%202.95%200%20.078%200%20.172.05.231.113.206.22.392.465.6.682.071.074.184.13.278.131.936.01%201.872.006%202.807.006h.228v1.859H0z'%20fill%3D'%235D5F69'/%3E%3C/svg%3E") !important;
}

.qq-upload-delete:hover {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D'12'%20height%3D'16'%20fill%3D'none'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20fill-rule%3D'evenodd'%20clip-rule%3D'evenodd'%20d%3D'M10.3%203.775v.196l-.001%2010.342c0%20.972-.677%201.684-1.604%201.685-2.048.003-4.097.003-6.145%200-.927%200-1.602-.713-1.603-1.686V3.775h9.352zm-7.004%202.44v7.337h1.325c.208%200%20.221%200%20.222-.198V6.452c0-.043.013-.092-.004-.125-.02-.044-.064-.106-.099-.107-.477-.007-.954-.004-1.444-.004zm4.654%200H6.628c-.21%200-.224%200-.225.195v7.13H7.95V6.215zM0%202.797V.938h.215c.942%200%201.883.004%202.825-.006a.428.428%200%2000.277-.131c.208-.217.395-.462.6-.682A.354.354%200%20014.15.006c.983-.008%201.967-.008%202.95%200%20.078%200%20.172.05.231.113.206.22.392.465.6.682.071.074.184.13.278.131.936.01%201.872.006%202.807.006h.228v1.859H0z'%20fill%3D'%23F23A3C'/%3E%3C/svg%3E") !important;
}

/*Radio Buttons*/
.form-radio-item {
  text-transform: capitalize !important;
}

.form-radio:hover + label:before,
.form-radio:hover + span:before {
  border-color: rgba(20, 20, 20, 0.5);
  box-shadow: none !important;
}

.form-radio:focus + label:before,
.form-radio:focus + span:before {
  border-color: #141414;
  box-shadow: none !important;
}

/*Stripe payment section */
#Field-expiryInput {
  border-radius: 2px !important;
}

.checked {
  background-color: rgb(20, 20, 20) !important;
  box-shadow: none !important;
  border: solid 1px gray !important;
}

.form-product-item-detail.new_ui,
.form-product-container {
  background-color: #42444b !important;
}

.form-product-name {
  text-transform: capitalize !important;
}

.payment_footer.new_ui #coupon-container input {
  margin-top: 20px !important;
}

.validate[required] {
  background-color: red !important;
}

.form-line.jf-required.form-line-error {
  background-color: transparent;
}

.error-navigation-message {
  text-transform: none !important;
}

.form-line-error {
  background-color: transparent !important;
}

.form-buttons-wrapper.form-buttons-auto.jsTest-button-wrapperField {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.payment_footer.new_ui.show_coupon {
}

#id_52 {
  padding-left: 14px;
  padding-right: 14px;
}

.form-input-wide {
}

.form-header-group.header-small {
  padding-bottom: 0 !important;
  margin-bottom: 20px !important;
}

#id_3 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}
