.klaviyo-form button {
  text-align: center !important;
  text-transform: uppercase !important;
  border-radius: 2px !important;
  flex: none !important;
  font-size: 0.6875rem !important;
  font-weight: 600 !important;
  line-height: 1.45455 !important;
  text-decoration: none !important;
  padding: 0rem 1.5rem !important;
  margin-left: 12px !important;
  border-width: 0px !important;
}

.klaviyo-form p {
  letter-spacing: 0.4px !important;
}

.klaviyo-form span {
  letter-spacing: 0.4px !important;
}

@media (max-width: 768px) {
  .stacked-form {
    display: block !important;
  }

  .klaviyo-form button {
    margin-left: 0px !important;
    width: 100% !important;
    padding-left: 0px !important;
    margin-top: 12px !important;
    padding-right: 0px !important;
  }

  .klaviyo-form input {
    text-align: center !important;
    padding-left: 0px !important;
  }
}

@media (min-width: 768px) {
  .stacked-form {
    display: flex !important;
  }
}

.klaviyo-form img[src*='Instagram_Glyph'] {
  margin-bottom: 1px;
  margin-right: 4px;
}
